KiCad/Components/Keebio-Components
KiCad/Components/Keebio-Footprints
KiCad/Components/kicad-lib-arduino
KiCad/Components/kleeb
KiCad/Components/ScottoKicad
KiCad/Project/RootKB/RootKB-backups
KiCad/Project/RootKB/fp-info-cache
KiCad/Project/RootKB-Left/export-tests
KiCad/Project/RootKB-Left/RootKB-Left-backups
KiCad/Project/RootKB-Left/RootKB-backups
KiCad/Project/RootKB-Left/fp-info-cache
KiCad/Project/RootKB-Right/RootKB-Right-backups
KiCad/Project/RootKB-Right/fp-info-cache

