PCB/KiCad Components/Keebio-Components
PCB/KiCad Components/Keebio-Footprints
PCB/KiCad Components/kicad-lib-arduino
PCB/KiCad Components/kleeb
PCB/KiCad Components/ScottoKicad
PCB/KiCad Components/ScottoKicad.zip
PCB/KiCad Project/RootKB-Left/export-tests
PCB/KiCad Project/RootKB-Left/RootKB-Left-backups
PCB/KiCad Project/RootKB-Left/RootKB-backups
PCB/KiCad Project/RootKB-Left/fp-info-cache
PCB/KiCad Project/RootKB-Right/RootKB-Right-backups
PCB/KiCad Project/RootKB-Right/fp-info-cache
